{% extends 'base.html'%}


{% block body %}
<section class="watch-video">
    <h1 class="number_days">{{header}}</h1>
<div class="video-container">
    
    <div class="video">
        <video src="{{ url_for('static', filename=video) }}" controls poster="images/post-1-1.png" id="video"></video>
    </div>
    <h3 class="title">{{video_title}}</h3>
    <div class="info"></div>
    <div class="tutor">
        <div>
            <h3>Задание</h3>
        </div>
    </div>

    <p class="description">
        {{task_description}}
    </p>
</div>

</section>


{% block quiz %}
<section class="quiz">
    <h1 class="heading">Ваш отчет</h1>

    <div class="form-quiz">

        <div class="step-row">
            <div id="progress"></div>
            <div class="step-col"><small>Шаг 1</small></div>
            <div class="step-col"><small>Шаг 2</small></div>
            <div class="step-col"><small>Шаг 3</small></div>
        </div>

    <form action="{{url_for('quiz')}}" method="POST" enctype="multipart/form-data">

        <div class="form" id="Form1">
            <h3>Заполните все поля</h3>
            
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="flash_{{cat}}">{{msg}}</div>
                {% endfor %}
            <p>Ваш рост в см <span>*</span></p>
            <input type="number" name="growth" placeholder="введите свой рост в см, например 165" required maxlength="50" class="box">
            <p>Ваш вес <span>*</span></p>
            <input type="number" name="weight" placeholder="введите ваш текущий вес" required maxlength="50" class="box">
            <p>Ваша дата рождения <span>*</span></p>
            <input type="date" name="date_birth" placeholder="введите ваш пароль" value="1990-07-22" min="1950-01-01" max="2000-12-31" required maxlength="20" class="box">
            <div class="btn-quiz"><button type="button" class="btn" id="Next1">Далее</button></div>
        </div>
        <div class="form" id="Form2">
            <h3>Заполните все поля</h3>
            
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="flash_{{cat}}">{{msg}}</div>
                {% endfor %}
            <p>Ваш объем руки <span>*</span></p>
            <input type="number" name="hand" placeholder="введите объем руки в см" required maxlength="50" class="box">
            <p>Ваш объем грудной клетки <span>*</span></p>
            <input type="number" name="thorax" placeholder="введите объем грудной клетки в см" required maxlength="50" class="box">
            <p>Ваш объем талии <span>*</span></p>
            <input type="number" name="waist" placeholder="введите объем талии в см" required maxlength="50" class="box">
            <p>Ваш объем живота <span>*</span></p>
            <input type="number" name="abdomen" placeholder="введите объем живота см" required maxlength="50" class="box">
            <p>Ваш объем ягодиц <span>*</span></p>
            <input type="number" name="buttocks" placeholder="введите объем ягодиц в см" required maxlength="50" class="box">
            <p>Ваш объем бедра <span>*</span></p>
            <input type="number" name="thigh" placeholder="введите объем бедра в см" required maxlength="50" class="box">
            <div class="btn-quiz">
                <button type="button" class="btn" id="Back1">Назад</button>
                <button type="button" class="btn" id="Next2">Далее</button>
            </div>
        </div>
        <div class="form" id="Form3">
            <h3>Загрузите 4 фото</h3>
            
                {% for cat, msg in get_flashed_messages(True) %}
                    <div class="flash_{{cat}}">{{msg}}</div>
                {% endfor %}
            
            <div class="images-report"></div>
            <div class="btn-upload">
                <label class="custom-file-upload">
                    <i class="fa fa-2x fa-camera"></i>
                    Добавить фото
                    <input type="file" id="file" name="file" multiple="multiple" accept="image/png, image/jpeg, image/jpg"/>
                </label>
            </div>
            <div class="btn-quiz">
                <button type="button" class="btn" id="Back2">Назад</button>
                <input type="submit" value="Отправить" class="btn" >  
            </div>
        </div>
    </form>
    
    </div>
</section>
{% endblock %}

<section class="comments">

<h1 class="heading">Отчеты участниц</h1>

<div class="box-container">
    <div class="box">
        <div class="user">
            <img src="images/pic-2.jpg" alt="">
            <div>
            <h3>{{user_name_comment}}</h3>
            <span>22-10-2022</span>
            </div>
        </div>
        <div class="comment-box">awesome tutorial!
            keep going!</div>
        <div class="btn-like-comment">
            
            <button class="inline-btn-fa-coment" id="btn-comment"><i class="fas fa-comment"></i> 0</button>
            <button class="inline-btn-fa-like"><i class="fas fa-heart"></i> 2</button>

        </div>
        

        <div class="box-reply-comment">  
            <div class="user-reply">
                <img src="images/pic-2.jpg" alt="">
                <div>
                <h3>John deo</h3>
                <span>22-10-2022</span>
                </div>
            </div>

            <form action="" class="reply-comment" method="post">
            <textarea class="add-comment-report" name="comment_box" placeholder="введите текст" required maxlength="1000" cols="35" rows="3"></textarea>
                <div class="reply-btn">
                    <label class="custom-file-upload">
                        <i class="fa fa-2x fa-camera"></i>
                        <input type="file" name="input_foto" accept=""/>
                    </label>
                    <input type="submit" value="ответить" id="reply_comment" name="reply_comment" class="inline-btn-reply-coment">
                    
                </div>
            </form>     

            <div class="user-reply">
                <img src="images/pic-2.jpg" alt="">
                <div>
                <h3>{{user_name_reply}}</h3>
                <span>{{date_reply_comment}}</span>
                </div>
            </div>
            <div class="comment-box">{{reply_comment}}</div>
            <div class="btn-like-comment">
                
                <button class="inline-btn-fa-coment" id="btn-comment"><i class="fas fa-comment"></i> 0</button>
                <button class="inline-btn-fa-like"><i class="fas fa-heart"></i> 2</button>
    
            </div>

            <div class="user-reply">
                <img src="images/pic-2.jpg" alt="">
                <div>
                <h3>{{user_name_reply}}</h3>
                <span>{{date_reply_comment}}</span>
                </div>
            </div>
            <div class="comment-box">{{reply_comment}}</div>
            <div class="btn-like-comment">
                
                <button class="inline-btn-fa-coment" id="btn-comment"><i class="fas fa-comment"></i> 0</button>
                <button class="inline-btn-fa-like"><i class="fas fa-heart"></i> 2</button>
            </div>
        </div> 
    </div>




    <div class="box">
        <div class="user">
            <img src="images/pic-2.jpg" alt="">
            <div>
            <h3>{{user_name_comment}}</h3>
            <span>{{date_comment}}</span>
            </div>
        </div>
        <div class="comment-box">{{comment}}</div>
        <div class="btn-like-comment">
            
            <button class="inline-btn-fa-coment" id="btn-comment"><i class="fas fa-comment"></i> 0</button>
            <button class="inline-btn-fa-like"><i class="fas fa-heart"></i> 2</button>

        </div>
        

        <div class="box-reply-comment">  
            <div class="user">
                <img src="images/pic-2.jpg" alt="">
                <div>
                <h3>{{user_name_reply}}</h3>
                <span>{{date_reply_comment}}</span>
                </div>
            </div>

                <form action="" class="reply-comment" method="post">
                <textarea class="add-comment-report" name="comment_box" placeholder="введите текст" required maxlength="1000" cols="35" rows="3"></textarea>
                <div class="reply-btn">
                    <label class="custom-file-upload">
                        <i class="fa fa-2x fa-camera"></i>
                        <input type="file" name="input_foto" accept=""/>
                    </label>
                    <input type="submit" value="ответить" id="reply_comment" name="reply_comment" class="inline-btn-reply-coment">
                    
                </div>
                </form>

            <div class="user">
                <img src="images/pic-2.jpg" alt="">
                <div>
                <h3>{{user_name_reply}}</h3>
                <span>{{date_reply_comment}}</span>
                </div>
            </div>
            <div class="comment-box">{{reply_comment}}</div>
            <div class="btn-like-comment">
                
                <button class="inline-btn-fa-coment" id="btn-comment"><i class="fas fa-comment"></i> 0</button>
                <button class="inline-btn-fa-like"><i class="fas fa-heart"></i> 2</button>
    
            </div>
                

        </div> 
    </div>




    <div class="box">
        <div class="user">
            <img src="images/pic-2.jpg" alt="">
            <div>
            <h3>john deo</h3>
            <span>22-10-2022</span>
            </div>
        </div>
        <div class="comment-box">awesome tutorial!
            keep going!</div>
        <div class="btn-like-comment">
            
            <button class="inline-btn-fa-coment" id="btn-comment"><i class="fas fa-comment"></i> 0</button>
            <button class="inline-btn-fa-like"><i class="fas fa-heart"></i> 2</button>

        </div>
        

        <div class="box-reply-comment">  
            <div class="user">
                <img src="images/pic-2.jpg" alt="">
                <div>
                <h3>John deo</h3>
                <span>22-10-2022</span>
                </div>
            </div>

                <form action="" class="reply-comment" method="post">
                <textarea class="add-comment-report" name="comment_box" placeholder="введите текст" required maxlength="1000" cols="35" rows="3"></textarea>
                <div class="reply-btn">
                    <label class="custom-file-upload">
                        <i class="fa fa-2x fa-camera"></i>
                        <input type="file" name="input_foto" accept=""/>
                    </label>
                    <input type="submit" value="ответить" id="reply_comment" name="reply_comment" class="inline-btn-reply-coment">
                    
                </div>
                </form>     
        </div> 
    </div>


</div>

</section>
{% endblock %}

