{% extends 'base.html'%}

{% block body %}
   
<section class="form-container">

   <form action="" method="POST" enctype="multipart/form-data">
      <h3>Регистрация</h3>
      {% block content %}
         {% for cat, msg in get_flashed_messages(True) %}
         <div class="flash_{{cat}}">{{msg}}<br>
            {% if 'email' in msg %}
            <a href="{{ url_for('login') }}">Авторизуйтесь</a> или введите другой email
            {% endif %}
         </div>
         {% endfor %}
      <p>Ваше имя <span>*</span></p>
      <input type="text" name="name" placeholder="введите ваше имя" required maxlength="50" class="box">
      <p>Ваш email <span>*</span></p>
      <input type="email" name="email" placeholder="введите ваш email" required maxlength="50" class="box">
      <p>Пароль <span>*</span></p>
      <input type="password" name="psw1" placeholder="введите ваш пароль" required maxlength="20" class="box">
      <p>Повторный пароль <span>*</span></p>
      <input type="password" name="psw2" placeholder="повторите пароль" required maxlength="20" class="box">
      <input type="submit" value="Зарегистрироваться" name="submit" class="btn">
      <div>
         <a href="{{ url_for('login') }}">Авторизация</a>
      </div>
   </form>
   {% endblock %}
</section>

{% endblock %}

